.side_ber

  .header_left
    %p.header_left__text 
      = current_user.name

    = link_to edit_user_path(current_user) do
      = fa_icon 'cog', class: 'header_left__new'

    =link_to new_group_path do
      = fa_icon 'edit', class: 'header_left__edit'



  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message
            
