= render 'messages/side_bar.index'

.main

  .header_right
    .group  
      %p.group-name 右ヘッダー

      %p.group-menber ロッキン
    
    .edit
      =link_to "https://www.facebook.com/", class: "space__btn" do
        Edit



  .messages
    = render @messages


  -# .content_right
    
  -#   .title
  -#     %p.title__name 右メイン

  -#     %p.title__date 時間

    

  -#   %p.content_right__text 今日は

  -#   %p.content_right__2-date 音楽が好き

  -#   %p.content_right__2-text さよなら



  -# .footer
  -#   -# = form_for [@group, @message] do |f|
  -#     .form
  -#       .message_parent
  -#         .message
  -#           .message__text type a message
  -#         .btn
  -#           =link_to "https://www.facebook.com/", class: "btn__image" do
  -#             = fa_icon 'image'
          
  -#       .btm
  -#         %a.send-btn Send


  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

